.App {
 font-family: Verdana, sans-serif;
}
button.ui.button{
background: coral;
}

body{
  background-color: rgb(109, 109, 209);
}

.form-input{
  padding: 10px;
}

img{
  width:400px; /* you can use % */
  height: auto;
}

.home-img{
  text-align: center;
  width: 960px;
  margin: auto;
}

.cen{
  width: 50%;
  margin: auto;
  padding-top: 300px;
}